body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img,div{border:0;margin:0;padding:0}
body{
	font-size:62.5% !important;
	font-family: "微软雅黑","arial" !important;	
    background:#fff;
    -webkit-text-size-adjust:100%;color: #333;}
/*html,body{height:100vh;}*/
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{color:#2d374b;text-decoration:none;cursor: pointer}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
i{font-style: normal}
li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.clearfloat:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.font_12{font-size: 1.2rem;}
.font_14{font-size: 1.4rem;}
.font_16{font-size: 1.6rem;}
.font_18{font-size: 1.8rem;}
.fl{float: left;}
.fr{float: right;}
.hk{display: inline-block;}